@font-face {
    font-family: DelaG;
    src: url(media/DelaGothicOne-Regular.ttf);
}

@font-face {
    font-family: Jet;
    src: url(media/JetBrainsMono-VariableFont_wght.ttf);
}

body{
    background-color: #151515;
}

#mainTitle{
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: DelaG;
    font-size: 150%;
    width: 100vw;
    height: 5vh;
    padding: 0;
}

#mainContent{
    font-family: Jet;
    display: flex;
}

#leftContent{
    width: 50vw;
    background-color: #000000;
    padding: 2vw;
    border-radius: 1vw;
    color: #00dd00;
}
a{
    color: inherit;
}
#centerDivider{
    width: 1vw;
}
#rightContent{
    width: 50vw;
    background-color: #000000;
    padding: 2vw;
    border-radius: 1vw;
    color: #00ff00;
}

.sections{
    color: #ff9f1c;
}