@font-face {
    font-family: DelaG;
    src: url(media/DelaGothicOne-Regular.ttf);
}

@font-face {
    font-family: Jet;
    src: url(media/JetBrainsMono-VariableFont_wght.ttf);
}

body{
    background-image: url('media/b.jpg');
}

#mainTitle{
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: DelaG;
    font-size: 150%;
    width: 100vw;
    height: 5vh;
    padding: 0;
    animation: colorChange 20s infinite;
}

#mainContent{
    font-family: Jet;
    display: flex;
}

#leftContent{
    width: 50vw;
    background-color: #000000;
    padding: 2vw;
    border-radius: 1vw;
    color: #00dd00;
}
a{
    color: inherit;
}
#centerDivider{
    width: 1vw;
}
#rightContent{
    width: 50vw;
    background-color: #000000;
    padding: 2vw;
    border-radius: 1vw;
    color: #00ff00;
}

.sections{
    color: #ff9f1c;
}

@keyframes colorChange {
    0%{
        color: #ff0000;
    }
    25%{
        color: #00ff00;
    }
    50%{
        color: #0000ff;
    }
    75%{
        color: #ffffff;
    }
    100%{
        color: #ff0000;
    }
}

@keyframes scaleUpDown{
    0%{
        scale: 100%;
    }
    50%{
        scale: 112%;
    }
    100%{
        scale: 100%;
    }
}